<div class="css-animation01">
  <h2 class="h2">CSS Animation 01</h1>
  <div>
    <button class="css-animation01_Btn container">
      <span class="back"></span>
      <span class="string">SAMPLE BUTTON</span>
    </button>
  </div>
</div>