<%
const conf = {
    title : 'Frontend Samples',
    description : '',
    style: 'index.css',
    script: 'index.js'
};
%>

<% include _head.ejs %>

<h1 class="h1">Frontend Samples</h1>

<% include ../modules/css-animation01/index.ejs %>

<% include _foot.ejs %>
